/* ============================================
   LAYOUT STYLES
   ============================================ */


/* --------------------------------------------
   Header
   -------------------------------------------- */
header {
   padding-top: calc(var(--spacing)*2);

   div {
      justify-items: center;
      margin-top: var(--spacing);
   }

   img {
      width: 250px;

   }
}

/* --------------------------------------------
   Introduction Section
   -------------------------------------------- */
section#introduction {
   div#text {
      font-family: hamburg_hand, Helvetica, sans-serif;
      margin: var(--spacing);
   }


   h1 {
      font-variation-settings: var(--fs-xxl);
   }

   h2 {
      font-variation-settings: var(--fs-xl);
   }

   p {
      width: 65%;
      font-family: suisse_intl, Helvetica, sans-serif;

   }

   div#background img {
      height: 120vh;
      width: 100%;
      object-fit: cover;
   }

   div#relative img {
      top: -20vw;
      margin-top: 20vw;
      position: relative;
      width: 90%;
   }

}


/* --------------------------------------------
   Description Section
   -------------------------------------------- */
section#description {
   display: grid;
   grid-template-areas: 'a, b';
   grid-template-columns: repeat(2, 1fr);
   padding-bottom: var(--spacing);


   h1 {
      font-family: hamburg_hand, Helvetica, sans-serif;
      font-variation-settings: var(--fs-base);
   }

   ul>li {
      font-family: suisse_intl, Helvetica, sans-serif;
   }

   button.button-layout {
      display: flex;
      flex-direction: row;
      align-content: space-around;
      width: 100%;
      margin: auto;
      padding: auto;
      text-decoration: none;

   }
}

/* --------------------------------------------
   Shop Section
   -------------------------------------------- */
@media screen and (min-width: 700px) {
   section#shop {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
   }
}

section#shop {
   margin-bottom: calc(var(--spacing) * 2);
   line-height: 0.9;

   div.articles {
      margin: var(--spacing);
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: var(--spacing);



   }

   h1 {
      font-family: hamburg_hand, Helvetica, sans-serif;
      font-variation-settings: var(--fs-base);

   }

   .articles {

      .info {
         padding: var(--spacing)
      }
   }
}

/* --------------------------------------------
   Footer
   -------------------------------------------- */

footer {
   display: grid;
   grid-template-areas: "a a"
      "b c"
      "d d"
      "e e";

   h2 {
      font-family: hamburg_hand, Helvetica, sans-serif;
      font-variation-settings: var(--fs-base);
   }

   section#footer--logo {
      padding: var(--spacing);
      grid-area: a;

      img {
         width: 250px;
      }
   }


   div#Effects {
      grid-area: b;
      padding: var(--spacing);

      li {

         list-style: none;
      }
   }

   div#company {
      grid-area: c;
      padding: var(--spacing);

      li {

         list-style: none;
      }
   }

   div#formular {
      grid-area: d;

      input {
         background-color: none;
         display: flex;
         flex-direction: row;
         width: 50%;
         border-radius: 15px 15px 15px 15px;
         padding: 0.5rem;
      }
   }

   p {
      grid-area: e;
      padding: var(--spacing);
   }
}

footer>div {
   font-family: suisse_intl, Helvetica, sans-serif;
   font-variation-settings: var(--fs-sm);
}