/* ============================================
   LAYOUT STYLES
   ============================================ */


/* --------------------------------------------
   Header
   -------------------------------------------- */
header {
   padding-top: calc(var(--spacing)*2);

   div {
      justify-items: center;
      margin-top: var(--spacing);
   }

   img {
      width: 250px;

   }
}

/* --------------------------------------------
   Introduction Section
   -------------------------------------------- */
section#introduction {
   font-family: hamburg_hand, Helvetica, sans-serif;
   h1 {
      font-variation-settings: var(--fs-xxl);
   }
   h2{
      font-variation-settings: var(--fs-xl);
   }
   p{
      width: 65%;
   }
   img{
      top: -20vw;
      margin-top: 20vw;
      position: relative;
      width: 90%;
   }
   img#background{
      height: 120vh;
      width: 100%;
      object-fit: cover;
   }
}


/* --------------------------------------------
   Description Section
   -------------------------------------------- */

/* --------------------------------------------
   Shop Section
   -------------------------------------------- */
section#shop {
   margin-bottom: calc(var(--spacing) * 2);

   .articles {

      .info {
         padding: var(--spacing)
      }
   }
}

/* --------------------------------------------
   Footer
   -------------------------------------------- */