/* ============================================
   LAYOUT STYLES
   ============================================ */


/* --------------------------------------------
   Header
   -------------------------------------------- */
header {
   padding-top: calc(var(--spacing)*2);
   div{
      justify-items: center;
      margin-top: var(--spacing);
   }
   img {
      width: 250px;
      
   }
}

/* --------------------------------------------
   Introduction Section
   -------------------------------------------- */

/* --------------------------------------------
   Description Section
   -------------------------------------------- */

/* --------------------------------------------
   Shop Section
   -------------------------------------------- */
section#shop {
   margin-bottom: calc(var(--spacing) * 2);

   .articles {

      .info {
         padding: var(--spacing)
      }
   }
}

/* --------------------------------------------
   Footer
   -------------------------------------------- */