/* ============================================
   LAYOUT STYLES
   ============================================ */

/* --------------------------------------------
   Header
   -------------------------------------------- */

/* --------------------------------------------
   Introduction Section
   -------------------------------------------- */

/* --------------------------------------------
   Description Section
   -------------------------------------------- */

/* --------------------------------------------
   Shop Section
   -------------------------------------------- */
section#shop {
    margin-bottom: calc(var(--spacing) * 2);
    .articles {

        .info {
            padding: var(--spacing)
        }
    }
}

/* --------------------------------------------
   Footer
   -------------------------------------------- */
