/* ============================================
   THEME STYLES
   ============================================ */

:root {
    /* Typography Scale */
    --fs-sm: clamp(0.8rem, 0.59vi + 0.65rem, 1.13rem);
    --fs-base: clamp(1rem, 0.91vi + 0.77rem, 1.5rem);
    --fs-md: clamp(1.25rem, 1.36vi + 0.91rem, 2rem);
    --fs-lg: clamp(1.56rem, 2.01vi + 1.06rem, 2.67rem);
    --fs-xl: clamp(1.95rem, 2.91vi + 1.23rem, 3.55rem);
    --fs-xxl: clamp(2.44rem, 4.17vi + 1.4rem, 4.74rem);
    --fs-xxxl: clamp(3.05rem, 5.93vi + 1.57rem, 6.31rem);
    /* Propriété sur-mesure */
    --color-light: color (#eaeaea);
    --color-dark: color(#000000); 
    --color-secondary: color(#4CC9E1);
    --color-highlight: color (#EF372B);
    --spacing: 1rem; 
}

/* --------------------------------------------
   Base Theme Styles
   -------------------------------------------- */
body {
    background: var(--color-light);
}

/* --------------------------------------------
   Article Styles
   -------------------------------------------- */
article {
    img {
        border-right: 1px solid var(--color-dark);
        border-left: 1px solid var(--color-dark);
        border-top: 1px solid var(--color-dark);
    }

    .info {
        border: 1px solid var(--color-dark);
    }
}
