/* ============================================
   TYPOGRAPHY STYLES
   ============================================ */
@font-face {
    font-family: 'hamburg_hand';
    src: url('../fonts/hamburg_hand.woff2') format("woff2");
}
@font-face {
    font-family: 'suisse_intl';
    src: url('../fonts/suisse_intl.woff2') format("woff2");
}

/* Shop Section */
section#shop {
    h1 {
        line-height: 0.9;
    }

    h2 {
        font-size: var(--fs-base);
        color: var(--color-highlight);
    }
}